---
import Button from "../ui/Button.astro";
---
<section section-cta="" class="section cc-brand u-overflow-clip u-pb-0">
  <div class="w-layout-blockcontainer container u-z-index-1 w-container">
    <div class="gap_7_3-5 u-d-flex cc-vertical">
      <div class="row row-center-horizontal">
        <div class="col col-lg-12">
          <div class="u-d-flex cc-vertical cc-center-top cc-gap-32">
            <div class="u-d-flex cc-vertical cc-center-top cc-gap-16">
              <h2 class="u-align-center">Let's build what's next together.</h2>
            </div>
            <div class="u-d-flex cc-horizontal cc-gap-16">
              <Button href="/build-a-quote" variant="white">Build A Quote</Button>
              <Button href="/contact" variant="stroke-white">Contact Sales</Button>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center-horizontal">
        <div class="col col-lg-7 col-md-9 col-sm-10">
          <div class="transformer_container u-p-relative">
            <img src="/images/67e218fe05ad9e1f3b2cf32e_cta-box.avif" loading="lazy" alt="" class="cta_transformer" />
            <div class="cta_transformer-top">
              <div class="transformer_guide u-d-flex cc-horizontal cc-left-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 7 12" fill="none" class="transformer_guide-arrow">
                  <path d="M6.70711 1.70711C7.09763 1.31658 7.09763 0.683418 6.70711 0.292893C6.31658 -0.0976311 5.68342 -0.0976311 5.29289 0.292893L6.70711 1.70711ZM1 6L0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L1 6ZM5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L5.29289 11.7071ZM5.29289 0.292893L0.292893 5.29289L1.70711 6.70711L6.70711 1.70711L5.29289 0.292893ZM0.292893 6.70711L5.29289 11.7071L6.70711 10.2929L1.70711 5.29289L0.292893 6.70711ZM1 7H7V5H1V7Z" fill="currentColor" vector-effect="non-scaling-stroke"></path>
                </svg>
                <div class="transformer_guide-line"></div>
              </div>
              <div cta-number-container="" class="u-d-flex cc-horizontal cc-center-top">
                <div cta-number="" class="p-14">70.9</div>
                <div class="p-14">"</div>
              </div>
              <div data-gsap="" class="transformer_guide u-d-flex cc-horizontal cc-left-center">
                <div class="transformer_guide-line"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 7 12" fill="none" class="transformer_guide-arrow">
                  <path d="M0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L0.292893 1.70711ZM6 6L6.70711 5.29289C7.09763 5.68342 7.09763 6.31658 6.70711 6.70711L6 6ZM1.70711 11.7071C1.31658 12.0976 0.683418 12.0976 0.292893 11.7071C-0.0976311 11.3166 -0.0976311 10.6834 0.292893 10.2929L1.70711 11.7071ZM1.70711 0.292893L6.70711 5.29289L5.29289 6.70711L0.292893 1.70711L1.70711 0.292893ZM6.70711 6.70711L1.70711 11.7071L0.292893 10.2929L5.29289 5.29289L6.70711 6.70711ZM6 7H0V5H6V7Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <div class="cta_transformer-left">
              <div class="transformer_guide u-d-flex cc-vertical cc-center-top">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 12 7" fill="none" class="transformer_guide-arrow cc-vertical">
                  <path d="M1.70711 6.70711C1.31658 7.09763 0.683417 7.09763 0.292893 6.70711C-0.0976313 6.31658 -0.0976313 5.68342 0.292893 5.29289L1.70711 6.70711ZM6 1L5.29289 0.292893C5.68342 -0.0976309 6.31658 -0.0976308 6.70711 0.292893L6 1ZM11.7071 5.29289C12.0976 5.68342 12.0976 6.31658 11.7071 6.70711C11.3166 7.09763 10.6834 7.09763 10.2929 6.70711L11.7071 5.29289ZM0.292893 5.29289L5.29289 0.292893L6.70711 1.70711L1.70711 6.70711L0.292893 5.29289ZM6.70711 0.292893L11.7071 5.29289L10.2929 6.70711L5.29289 1.70711L6.70711 0.292893ZM7 1L7 7L5 7L5 1L7 1Z" fill="currentColor"></path>
                </svg>
                <div class="transformer_guide-line cc-vertical"></div>
              </div>
              <div cta-number-container="" class="u-d-flex cc-horizontal cc-center-top">
                <div cta-number="" class="p-14">82.7</div>
                <div class="p-14">"</div>
              </div>
              <div class="transformer_guide u-d-flex cc-vertical cc-center-top">
                <div class="transformer_guide-line cc-vertical"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 12 7" fill="none" class="transformer_guide-arrow cc-vertical">
                  <path d="M10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L10.2929 0.292893ZM6 6L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L6 6ZM0.292893 1.70711C-0.097631 1.31658 -0.097631 0.683417 0.292893 0.292893C0.683418 -0.0976312 1.31658 -0.0976312 1.70711 0.292893L0.292893 1.70711ZM11.7071 1.70711L6.70711 6.70711L5.29289 5.29289L10.2929 0.292893L11.7071 1.70711ZM5.29289 6.70711L0.292893 1.70711L1.70711 0.292893L6.70711 5.29289L5.29289 6.70711ZM5 6L5 -7.15493e-08L7 -4.76995e-08L7 6L5 6Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
