---
---
<section class="section u-minh-100svh u-d-flex cc-vertical cc-stretch-bottom cc-home-hero-adj"><div class="w-layout-blockcontainer container u-z-index-3 test w-container"><div class="row row-bottom"><div class="col"><div class="u-d-flex cc-vertical cc-left-top gap_2-1-5"><div class="banner"><div data-wf--chip--variant="orange" class="chip w-variant-1ebe057b-5ced-27ed-3400-c698f8573257"><div class="eyebrow">Learn More</div></div><div class="p-14 u-color-primary-invert u-wrap-balance">Giga&#x27;s AI Infrastructure and Site Process</div><a href="/industries/ai-infrastructure" class="banner_link-overlay w-inline-block"><div class="u-sr-only">Giga&#x27;s AI Infrastructure and Site Process</div></a></div><h1 class="h1-xl u-color-primary-invert">Build AI factories faster.</h1></div></div><div class="col col-lg-4 col-md-6 col-sm-12"><div class="u-d-flex cc-vertical cc-gap-24"><p class="u-color-neutral-300">Giga deploys AI data centers faster than anyone else with our in-house manufacturing and powered land portfolio.</p><div class="u-d-flex cc-horizontal cc-gap-16"><a data-wf--button--variant="stroke-small-white" href="/contact" class="btn w-variant-fde65a93-64a7-7a83-09eb-c877388baa4b w-inline-block"><div>Contact Sales</div></a></div></div></div></div></div><div class="home_hero-gradient"></div><div class="u-p-absolute cc-full u-z-index-1 u-h-100 w-embed w-iframe"><div style="position:absolute;inset:0;overflow:hidden;pointer-events:none;">
  <img 
    src="/images/hero-cover.avif"
    loading="eager"
    fetchpriority="high"
    alt=""
    style="
      position:absolute;
      top:50%;
      left:50%;
      width:248vh;
      height:100vh;
      min-width:100vw;
      min-height:40.34vw;
      transform:translate(-50%,-50%);
      z-index:1;
    "
  />

  <iframe 
    src="https://player.vimeo.com/video/1176369681?h=265df9ec2d&background=1&muted=1&playsinline=1"
    loading="eager"
    style="
      position:absolute;
      top:50%;
      left:50%;
      width:248vh;
      height:100vh;
      min-width:100vw;
      min-height:40.34vw;
      transform:translate(-50%,-50%);
      border:0;
      z-index:2;
    "
    allow="autoplay; fullscreen"
    frameborder="0"
    title="Q4 Background"
  ></iframe>
</div></div><div class="hide w-embed"><style>
  @media (min-width: 1970px) {
    iframe[title="Q4 Background"] {
      transform: translate(-50%, -50%) scale(1.05) !important;
    }
  }
</style></div></section>
