---
import Button from "../ui/Button.astro";
import ArrowIcon from "../ui/ArrowIcon.astro";
import StatBlock from "../ui/StatBlock.astro";
---
<section class="section">
  <div class="w-layout-blockcontainer container w-container">
    <div data-click="copy" class="gap_4-2 u-d-flex cc-vertical">
      <div class="row">
        <div class="col col-md-12">
          <div class="u-d-flex cc-vertical cc-left-center u-h-100">
            <div class="u-d-flex cc-vertical cc-left-top cc-gap-20">
              <div class="u-d-flex cc-horizontal cc-left-center cc-gap-16">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 32 32" fill="none" class="u-icon cc-32 u-color-brand">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 32 24" fill="none">
                    <g clip-path="url(#clip0_3418_5595)">
                      <path d="M12.6052 8.87433L0.0742188 9.62716L4.39986 4.56462L19.5116 0L12.6052 8.87433Z" fill="#004EEB"></path>
                      <path d="M12.6065 20.3431L0 17.296L4.42556 11.4688H19.5129L12.6065 20.3431Z" fill="#004EEB"></path>
                      <path d="M22.1924 3.77844L30.0492 6.38237V17.6176L22.1924 20.2216V3.77844ZM19.5117 0V24L31.9988 19.4354V4.56462L19.5117 0Z" fill="#004EEB"></path>
                      <path d="M22.1172 6.78516V8.72202L30.0496 9.49629V8.24555L22.1172 6.78516Z" fill="#004EEB"></path>
                      <path d="M30.0496 14.5566L22.1172 15.2761V17.2106L30.0496 15.8074V14.5566Z" fill="#004EEB"></path>
                      <path d="M22.1172 11.2031V12.8208L30.0496 12.6492V11.3151L22.1172 11.2031Z" fill="#004EEB"></path>
                    </g>
                    <defs><clippath id="clip0_3418_5595"><rect width="32" height="24" fill="white"></rect></clippath></defs>
                  </svg>
                </svg>
                <h2 class="eyebrow u-w-100 u-color-secondary">Site Origination &amp; Development</h2>
              </div>
              <h3 class="h2">Experienced site developers with MWs.</h3>
              <p class="p-20 u-mb-2-5">We develop AI-ready data center sites within nine-month timelines. A vertically integrated supply chain, including our own factories and general contractor teams, allow us to do what no one else can.</p>
            </div>
            <Button href="/site-origination-development" variant="tertiary">
              Site Development &amp; Origination
              <ArrowIcon />
            </Button>
            <div class="u-mt-auto u-w-100">
              <div class="u-pb-3"></div>
              <div class="u-p-1 u-bg-accent-green u-wedge-top-right u-w-100 u-text-white">
                <div class="u-d-flex cc-horizontal cc-between-bottom cc-gap-24 cc-sm-vertical">
                  <StatBlock value="175+ " suffix='<span class="eyebrow p-20">MW</span><span class="eyebrow p-14 u-weight-regular">s</span>' label="Data centers built" />
                  <StatBlock value="500+" label="MWs Pipeline" />
                </div>
              </div>
              <div class="u-pb-3 u-md-show"></div>
            </div>
          </div>
        </div>
        <div class="col col-lg-1 u-md-hide"></div>
        <div class="col col-lg-7 col-md-first col-md-12">
          <div class="products_2x2-images">
            <div class="a-parallax-container">
              <img src="/images/69963c68fe11f2f390877b5a_PodInt_Revised.avif" loading="lazy" alt="inside a giga data center" class="a-parallax-image" />
            </div>
            <div class="a-parallax-container">
              <img src="/images/6995f452d831f588755ac4f4_man working on Giga factory yard.avif" loading="lazy" alt="man working on giga equipment outside" class="a-parallax-image" />
            </div>
            <div class="a-parallax-container">
              <img src="/images/67e2b3ebbcb8e72e663263ce_Utility grid.avif" loading="lazy" alt="sun rising on giga data center" class="a-parallax-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
