---
interface Props {
  direction: "prev" | "next";
}
const { direction } = Astro.props;
const path = direction === "prev" ? "M13.5 7L8.5 12L13.5 17" : "M10.5 7L15.5 12L10.5 17";
---
<div class={`swiper-arrows cc-blocks cc-${direction} cc-explore`}>
  <div class="u-icon cc-24">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 24 24" fill="none">
      <path d={path} fill="currentColor"></path>
    </svg>
  </div>
</div>
